@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
}

ul {
  list-style: none;
}

.map {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.location-icon {
  font-size: 2rem;
  color: red;
}

.location-info {
  position: absolute;
  top: 50px;
  right: 50px;
  width: 400px;
  min-height: 200px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.6);
  border: 1px solid #000;
  border-radius: 5px;
  color: white;
}

.fire-location-info li {
  padding: 5px;
}

.location-info-heading {
  text-align: center;
  margin-bottom: 20px;
}

.location-info-id {
  font-weight: 300;
}

.location-info-title {
  font-weight: 500;
  font-size: 1.2rem;
}
